*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    overflow:hidden;
    background:linear-gradient(
        180deg,
        #06153d,
        #102862,
        #17356d
    );
    font-family:Arial,sans-serif;
    position:relative;
}
#musicBtn{

position:fixed;

top:20px;
left:20px;

padding:10px 18px;

border:none;

border-radius:20px;

background:#FFD700;

color:#000;

font-weight:bold;

cursor:pointer;

z-index:9999;

box-shadow:
0 0 10px rgba(255,215,0,.6);

}

.mensaje{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    width:80%;
}

.mensaje h1{
    color:#FFD700;
    margin-bottom:20px;
    font-size:3rem;
}

.mensaje p{
    font-size:1.4rem;
    line-height:1.7;
}

.moon{
    position:absolute;
    top:30px;
    right:30px;
    width:150px;
    height:150px;
    border-radius:50%;
    background:
    radial-gradient(circle,#fff7b0,#ffd54f);

    box-shadow:
    0 0 30px #ffd54f,
    0 0 80px #ffd54f;
}